<h1>Ciders</h1>

<% @ciders.each do |cider| %>
  <li><%= link_to "#{cider.company}: #{cider.style}", cider_path(cider) %></li>
<% end %>

<%= link_to "Add a Cider", new_cider_path, :class => "button" %>
