


<div class="row"> <%= image_tag("1600x295.png") %> </div>


<div class="row">

  <div class="large columns">
    <h2>Welcome to the Cider App!</h2>
    <p>The purpose of this web application is to be a one stop shop for all
      things Cider.  You'll discover all different brands of Cider as well as the
      Cider houses they are made in.  Become a member and you can enter your favorite
      Ciders or Ciderhouses into our database.  You can also rate and review both ciders
      and cider houses.  In case you haven't noticed, Cider is awesome!  Cheers!

    </p>



  </div>


</div>
<br>



<div class="row">
  <h2>Choose Your Path Below</h2>
</div>

<div class="row">

  <div class="large-6 columns text-center">
<a href="/ciders" class="button cider-button">Ciders</a>
  </div>

  <div class="large-6 columns text-center">
    <a href="#" class="button ciderhouse-button">Cider Houses</a>
  </div>

</div>



<div class="row">
  <div class="large columns text-center">
  <footer>
   John Mendes &copy; 2017
  </footer>
</div>
</div>
