/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 /*= require_tree .
 /*= require_self

 */
@import "bootstrap";
// ****************SITE COLORS AND VARIABLES**************
// Orange, Green, White, Black, Grey
$m1: #FDB119;
$m2: #126009;
$m3: #fff;
$m4: #000;
$m5: slategrey;
// ****************END SECTION**************
// ****************BODY STYLING**************
body {
  background-color: $m5;
  color: $m3;

  h1,
  h2 {
    text-align: center;
  }
}

label {
  color: $m3;

  abbr[title] {
    display: none;
  }
}

footer {
  text-align: center;
}
// ****************END SECTION**************
// ****************SIGN IN AND SIGN UP STYLING**************
#new_user {
  width: 60%;
  margin: 0 auto;
}

.new_user a {
  color: $m3;
}
// ****************END SECTION**************
// ****************Button Styles**************
.cider-button {
  background-color: $m1;
  width: 50%;
  -webkit-border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 100ms ease;

  &:hover {
    background: lighten(#2ECCFA, 20%);
    margin: 6px;
    padding: 18px 32px;
    -webkit-transition: all 100ms ease;
  }
}

.ciderhouse-button {
  background-color: $m2;
  width: 50%;
  -webkit-border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 100ms ease;

  &:hover {
    background: lighten(#2ECCFA, 20%);
    margin: 6px;
    padding: 18px 32px;
    -webkit-transition: all 100ms ease;
  }
}
// ****************END SECTION**************
// ****************Grid Section**************
.row {
  // border-bottom: 1px solid #000;
  margin-top: 30px;
}

.large-6 a {
  text-align: center;
}
// ****************END SECTION**************
